---
http_interactions:
- request:
    method: get
    uri: http://rtd.somleng.org/api/real_time_data.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bba44a76de1dbff2aa840f27568c5d9e"
    body:
      encoding: UTF-8
      string: '{"date_updated":"Thu, 26 Oct 2017 05:29:34 +0000","calls_count":237582,"calls_outbound_count":117737,"calls_inbound_count":119845,"calls_minutes":395950,"calls_outbound_minutes":153812,"calls_inbound_minutes":242138,"sms_count":0,"sms_outbound_count":0,"sms_inbound_count":0,"projects_count":3,"countries_count":2,"continents_count":2,"total_amount_spent":"$1,832.32","total_equivalent_twilio_price":"$42,493.32","total_amount_saved":"$40,661.00"}'
  recorded_at: Thu, 26 Oct 2017 05:32:56 GMT
recorded_with: VCR 3.0.3
