---
http_interactions:
- request:
    method: get
    uri: http://rtd.somleng.org/api/projects/6bb193d9-876e-4846-a42f-8a35db66b477/real_time_data.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"033b4a45139ab5806e3390c87fdd1e51"
    body:
      encoding: UTF-8
      string: '{"date_updated":"Thu, 26 Oct 2017 05:29:31 +0000","calls_count":192835,"calls_outbound_count":79890,"calls_inbound_count":112945,"calls_minutes":310648,"calls_outbound_minutes":81074,"calls_inbound_minutes":229574,"sms_count":0,"sms_outbound_count":0,"sms_inbound_count":0,"projects_count":1,"countries_count":1,"continents_count":1,"total_amount_spent":"$2.21","total_equivalent_twilio_price":"$8,107.40","total_amount_saved":"$8,105.19"}'
  recorded_at: Thu, 26 Oct 2017 05:33:38 GMT
recorded_with: VCR 3.0.3
